

.btn-group{

	
	color: white;

	.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default{

		background-color: white;
		color: grey;
		border-color: white;

	}
	.dropdown-menu{

		background-color: #3d83c9;
		a{
			color: white;
		}
		a:hover{
			color: grey;
			background-color: white;
		}
	}

	.btn:first-child{
		margin-right: 15px;
	}
	
	.btn{
		color: white;
	}
	.btn-default{
		background-color: #3d83c9;
		color: white;
		
	}

}

.course-list-item{
	background: rgba(255, 255, 255, 0);
	padding: 0 20px 0px 20px;
	// height: 170px;
	margin-bottom: 0px;
	overflow: hidden;
	border-top: 1px solid rgba(0, 0, 0, 0.05);

	// -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14);
	// box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14);

	h2{
		font-size: 16pt;
		margin: 6px 0 0 0;
	}

	span{

		h3{
			float: left;
			font-size: 10pt;
			color: #7f8c8d;
			margin: 0 20px 20px 0;
			padding: 3px 0 6px 0;

			span{
				font-weight: bold;
			}			
		}
	}
}

