body {
  background: #fcfcfc;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
*:focus {
  outline: none;
}
a:hover {
  color: #21394c;
}
.navbar {
  margin-bottom: 0;
}
.navbar-brand {
  color: #6d97bf;
}
.nav > li > a {
  color: #6d97bf;
}
.nav > li > a:focus,
.nav > li > a:hover {
  background: rgba(0, 0, 0, 0.02);
  color: #21394c;
}
.jumbotron {
  background: #6d97bf;
}
.jumbotron h3 {
  color: #fff;
}
.jumbotron p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 11pt;
}
#jumbotron_search_field {
  font-size: 36pt;
  color: #fff;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  background: none;
  padding: 0;
  margin: 0;
  width: 60%;
  max-width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#jumbotron_search_field:focus {
  border-bottom: 2px solid #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.course-list-item {
  background: rgba(255, 255, 255, 0);
  padding: 0 20px 0px 20px;
  margin-bottom: 0px;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.course-list-item h2 {
  font-size: 16pt;
}
.course-list-item span h3 {
  float: left;
  font-size: 10pt;
  color: #7f8c8d;
  margin: 0 20px 20px 0;
}
.course-list-item span h3 span {
  font-weight: bold;
}
.course-list-item2 {
  background: rgba(255, 255, 255, 0);
  padding: 0 20px 0px 0px;
  margin-bottom: 0px;
  overflow: hidden;
}
.course-list-item2 span h3 {
  float: left;
  font-size: 10pt;
  color: white;
  margin: 0 20px 20px 0;
}
.course-list-item2 span h3 span {
  font-weight: bold;
}
.single-course-title h2 {
  color: white;
}
.course-single-page-info {
  margin-right: 100px;
  line-height: 23px;
  margin-top: 20px;
}
.col-md-3 h3 {
  margin-bottom: 20px;
  line-height: 23px;
}
.col-md-3 ul {
  list-style: none;
  padding: 0px 0px 0px 0px;
}
.single-page-reviews {
  margin-right: 100px;
  line-height: 23px;
  margin-top: 50px;
}
.course-list-item:hover {
  background: #ffffff;
}
